.lead {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  height: 100%;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
}

.podium_item {
  width: 30%;
}

.podium_rank {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.podium_rank .second_point {
  color: black;
  text-align: center;
  line-height: 150px;
  font-size: 45px;
}

.podium_rank .third_point {
  color: black;
  text-align: center;
  line-height: 45px;
  margin-top: 30px;
  font-size: 45px;
}

.image_podum {
  width: 75px;
  height: 50px;
  margin: -30px;
  margin-left: 30%;
  align-items: center;
}

.podium_city {
  text-align: center;
  padding: 0 .5rem;
}

.podium_number {
  width: 27px;
  height: 75px;
}

.podium .first .podium_rank{
  min-height: 300px;
  background-color: rgba(61, 108, 227, 0.85);
}

.podium .second .podium_rank{
  min-height: 200px;
  background: rgba(255, 0, 0, 0.85);
}

.podium .third .podium_rank{
  min-height: 100px;
  background: rgba(69, 208, 19, 0.85);
}

.podium_member {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.placement {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.podium_member.align {
  display: flex;
  align-items: center;
  width: 80%;
}

.podium_member.align p {
  margin-right: 10px;
}

.podium_member.align img {
  margin-right: 10px;
}

.podium_member {
  margin-top: 10px;
  border-radius: 10px;
  width: 90%;
  background: white;
  display: flex;
  justify-content: flex-start;
}

.podium_member .name {
  margin: 5px;
  color: black;
  margin: 10px;
}

.podium_member .place {
  margin: 10px;
  color: black;
  left: 95px;
}

.podium_member .points {
  color: black;
  padding-right: 5%;
  margin: 0;
}

.points, .place, .name{
  width: fit-content !important;
  font-size: x-large;
}

.deadline_text {
  margin-top: 20px;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
  width: 80%;  
  position: relative;
  text-align: left;
  font-size: large;
  text-align: center;
}

.podium_member .align {
  margin: 0px;
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}

.cinquante {
  display: flex;
  flex-direction: column;
}

.ind_label {
  text-align: center;
}

.ind_label p {
  font-size: 20px;
}