body {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: flex-end;
}

.podium__item {
  width: 200px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  
}

.podium__rank .second_point{
  color: black;
  text-align: center;
  line-height: 150px;
  font-size: 45px;
}


.podium__rank .third_point{
  color: black;
  text-align: center;
  line-height: 45px;
  margin-top: 30px;
  font-size: 45px;
}

.image_podum {
  width: 75px;
  height: 50px;
  margin: -35px;
}


.podium__city {
  text-align: center;
  padding: 0 .5rem;
}

.podium__number {
  width: 27px;
  height: 75px;
}

.podium .first {
  min-height: 300px;
  background: rgb(255,172,37);
background: 
  linear-gradient(333deg, 
  rgba(255,172,37,1) 0%, 
  rgba(254,207,51,1) 13%, 
  rgba(254,224,51,1) 53%, 
  rgba(255,172,37,1) 100%);
}

.podium .second {
  min-height: 200px;
  background: blue;
}

.podium .third {
  min-height: 100px;
  background: green;
}

.podium_member {
  margin-top: 10px;
  max-height: 50px;
  background: white;
  display: flex;
  justify-content: space-between;
}

.podium_member .name {
  margin: 5px;
  color: black;
  margin: 10px;
}
.podium_member .place{
  margin: 10px;
  color: black;
  left: 95px;
}
.podium_member .image{
  max-height: 30px;
  max-width: 35px;
}

.podium_member .points{
  color: black;
  padding-right: 5%;
}

.deadline_text {
  margin-top: 20px;
  background-color: white;
  color: black;
  min-height: 60px;
  position: relative;
  text-align: left;
  font-size:xx-large;
  text-align: center;
}
.podium_member .align{
  margin: 0px;
}

/* 75%
.image-container {
  position: relative;
  width: 300px; 
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 50%);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* 50%
.image-container {
  position: relative;
  width: 300px; 
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* 25%
.image-container {
  position: relative;
  width: 300px; 
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%, 50% 50%);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */