nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    position: fixed;
    top: 0;
    margin-top: 5px;
    width: 60%;
    border-radius: 15px;
}

.left {
    display: flex;
    align-items: center;
}

.file, .run, .terminal, .help, .ide {
    position: relative;
    display: block;
}

.save {
    cursor: pointer;
}

.ide {
    border-radius: 15px;
}

.nav_button {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    cursor: pointer;
    color: black;
    background-color: #D9D9D9;
}

.dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 2;
    min-width: 200px;
    background-color: #D9D9D9;
    border-radius: 15px;
    margin-top: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
    color: #212121;
}

.dropdown-content label {
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
    color: #212121;
    font-weight: 500;
}

.dropdown-content a:hover {
    color: #212121;
}

.dropdown-content a:focus {
    background-color: #212121;
}

.file:hover .dropdown-content, 
.run:hover .dropdown-content, 
.terminal:hover .dropdown-content, 
.help:hover .dropdown-content,
.profile_user:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

input[type="file"] {
    display: none;
}