.editor-tabs {
    display: flex;
}

.editor-container.with_tabs {
    top: -30px;
}

.editor-container {
    height: 100%;
    width: 70%;
    position: relative;
    margin: auto;
}

.tab-wrapper {
    padding: 5px 15px 5px 15px;
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.830);
    border-radius: 8px 8px 0px 0px;
}

.close-tab {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

.code-with-lines{
    display: flex;
    width: 100%;
}

.num_lines {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    padding: 0 5px 0px 10px;
    border-right: 1px solid black;
}

.tab {
    border: none;
    padding: 0;
    margin-right: 2px;
    background-color: transparent
}

.editor-code, .editor{
    height: 100% !important;
}
