#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.navbar {
  width: 100%;
  background-color: #bbb;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 10px;
}

.profile-card {
  background-color: white;
  padding: 100px;
  margin: 80px;
  border-radius: 10px;
  max-width: 800px;
}

.profile{
  display: flex;
}

.profile-image {
  text-align: left;
  flex-shrink: 0;
}

.profile-info {
  margin-left: 20px;
  text-align: left;
}

.profile-card h1 {
  margin: 10px 0;
}

.profile-card p {
  margin: 5px 0;
}

.setting {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.setting-time input{
  height: 35px;
  width: 380px;
  border-radius: 5px;
  text-align: center;
}

.setting-time button{
  margin: 10px;
  width: 150px;
}

.setting-theme select{
  height: 37px;
  width: 380px;
  border-radius: 5px;
  max-width: 370px;
}

.setting-theme button{
  margin: 10px;
  width: 150px;
}
